* {
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height: 39px;
    background: #37525d;
    display: flex;
}

.header_empty {
    flex: 1;
}
.header_left {
    flex: 2;
}
.header_center {
    flex: 2;
}
.header_right {
    flex: 2;
}

.container {
    width: 100%;
    position: absolute;
    top: 39px;
    bottom: 0px;
    left: 0px;
    background: #f2f2f2;
    display: flex;
}

.menu {
    background: blue;
    display: flex;
    margin: 0 10px 0 0;
}

.paramInput {
    //background: #d2d2d2;
    background: #b2b2b2;
    //margin: 0px 0px 10px 0px;
    margin: 0px 0px 10px 0;
}
.paramInput_inner {
    display: flex;    
    justify-content: space-between;
}

.resultEcho {
    flex: 18;
    background: red;

}
.input_echo {
    flex: 6;
    flex-direction: column;
    background: #f2f2f2;
    display: flex;
    margin: 10px 10px 0px 0;
}

.a {
    position: unset !important;
}

/*
<div>
<div class="header"></div>
<div class="container">
<div class="menu"></div>
<div class="input_echo">
<div class="paramInput"></div>
<div class="resultEcho"></div>
</div>
</div>
</div>
 */
